body{
    background-color:white ;

}
header{
    background-color: white
}

.headerinfo
{

}
.Logo
{
    position:relative;
    left:50px;
}
.navigation
{
    background-color: #333;
    overflow: hidden;
    
}
.navigation a
{
 position: relative;
 left: 50px;
 float: left;
 display: block;
 color: #f2f2f2;
 text-align: center;
 padding: 14px 16px;
 text-decoration: none;
 font-size: 17px;

}
.navigation a:hover
{
    background-color: red;
    color:white;
}
.navigation .Search{
    float:right;
    position:relative;
    right:50px;
}

.navigation input#sök{
  
    padding:6px;
    border: none;
    margin-top: 8px;
    font-size: 17px;
}
.navigation .Search button
{
    float: right;
    padding: 6px ;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

.navigation .Search button:hover
{
    background:red;
}
